@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    transition:all .2s linear;
}
html,body{
    display:grid;
    height: 100%;
    place-items:center;
    text-align: center;
    background: #111111;
}
.container{
    border:1px solid #444;
    height:15rem;
    width:25rem;
    padding:3rem 3rem;
    text-align:left
}
.input-data .display{
    position:relative;
    display:flex;
    height: 45px;
    width:100%;
}
.container .text{
    color:#2ECC40;
    margin-bottom:.5rem;
    font-weight: 700;
    font-size:1.3rem;
    line-height: 1.5;
}
.container .input-data .display input{
    height:70%;
    width:100%;
    outline:none;
    user-select: none;
    color:#093d0f;
    font-weight: bolder;
}
/* .input-data .display span{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-70%) ;
    font-size:25px;
    color:grey;
    z-index:999;
    display:none;
    cursor:pointer;
} */
.input-data button{
    background: #2ECC40;
    color:#111111;
    border:none;
    display:block;
    height:25px;
    width:75%;
    margin-top: -0.1rem;
    cursor:pointer;
    font-weight: 600;
}
.input-data button:hover{
    background: #0b5c14;
}